# Ignore node_modules to ensure fresh install in Docker
node_modules
# Ignore build directories
.nuxt
.output
# Ignore local environment files
.env
.env.*
# Ignore log files
*.log
# Ignore local IDE files
.vscode
.idea
.DS_Store
